body {
    background-color: blanchedalmond;
}

.main-title{
    background-color: rgb(115, 43, 43);
    font-family: 'Courier New', Arial, Verdana;
    font-size: 700;
    text-align: center;
    border: 2px solid black;
    
}

.front {
    background-color: blanchedalmond;
    color: black;
    font-size: 200;
    
}

#front-text{
    color: black;
    font-family: 'Courier New', Arial, Verdana;
}

img{
    width: 200px;
    height: auto;
}